-r microservices/language/requirements.txt
-r microservices/person/requirements.txt
-r microservices/sentiment/requirements.txt
-r microservices/statistics/requirements.txt

confluent-kafka-stubs==0.0.3
pandas-stubs==2.2.3.250527
