-r microservices/language/requirements.txt
-r microservices/person/requirements.txt
-r microservices/sentiment/requirements.txt
-r microservices/statistics/requirements.txt
-r produser/requirements.txt

confluent-kafka-stubs
pandas-stubs
